<!-- 
Name of programmer: Fiorella Scarpino 
Student ID: 21010043
Date: 1/05/2022
Final Version. Created with HTML, Jinja and Javascript
Description of program: Privacy policy document
-->



{% extends "navbar.html" %}


{% block body %}



<div class="termsandpolicy">
    
    <h1>Privacy Policy</h1>
    <br>
    <h2>Our contact details </h2>
    <p>
        Name: Horizon Hotels<br>
        Address: UWE, Bristol<br>
        Date: 2021-2022<br>
    </p>
    <br>
    <h2>The type of personal information we collect </h2>
    <p>
        We currently collect and process the following information:<br>
        •	Name and Surname<br>
        •	Email<br>
        •	Customer Financial information (e.g., card details)<br>
        •	Customer booking details<br>
    </p>
    <br>
    <h2>How we get the personal information and why we have it</h2>
    <p>
        Under the General Data Protection Regulation (GDPR), we process this information because: 
            (a) Your consent. You can remove your consent at any time. <br>
            (b) We have a contractual obligation.<br>
            (c) We have a legal obligation.<br>
            (d) We have a vital interest.<br>
            (e) We need it to perform a public task.<br>
    </p>
    <br>
    <h2>How do we collect your data?</h2>
    <p>
        You directly provide Horizon Hotels with all of the data we collect. We collect data and process data when you:
            •	Register online on our website.<br>
            •	Use or view our website via your browser's cookies.<br>
            •	Make a reservation online. <br>
    </p>
    <br>
    <h2>How we store your personal information </h2>
    <p>
        Your information is securely stored.<br> 
        We keep your personal information for an unfixed time period. We will then dispose your information if you inform to us that you want to get rid of it.
    </p>
    <br>
    <h2>Your data protection rights</h2>
    <p>
        Under data protection law, you have rights including:
        <h3>Your right of access:</h3>
        You have the right to ask us for copies of your personal information. 
        <h3>Your right to rectification:</h3>
        You have the right to ask us to rectify personal information you think is inaccurate. 
        <h3>Your right to erasure:</h3>
        You have the right to ask us to erase your personal information in certain circumstances. 
        <h3>Your right to restriction of processing:</h3>
        You have the right to ask us to restrict the processing of your personal information in certain circumstances. 
        <h3>Your right to object to processing:</h3>
        You have the the right to object to the processing of your personal information in certain circumstances.
        <h3>Your right to data portability:</h3>
        You have the right to ask that we transfer the personal information you gave us to another organisation, or to you, in certain circumstances.

    </p>


</div>

<!--Footer-->
{% include "footer.html" %}


</body>
</html>

{% endblock %}